

<h1><%=@user.name%></h1>


<%if current_user.id == @user.id%>
<p><%=link_to "Create a New Project", new_user_project_path(@user)%> </p>

<p><%=link_to "Browse Users", users_path%></p>
<p><%=link_to "Browse Materials", materials_path%></p>
<p><%=link_to "Browse Projects", projects_path%></p>

<p><%=link_to "Update Your Account", edit_user_path(current_user)%></p>
<p><%= link_to "Delete Your Account", current_user, method: :delete, data: {confirm: "Are You Sure You Want to Delete Your Account? All of Your Projects Will Be Lost."} %></p>

<%end%>

<p><%=link_to "Load Projects", user_projects_path(@user), :id => "load_projects"%></p>

<ol id="user_projects">


 
</ol>