
<h3>Filter By:</h3>
<%=form_tag("/projects", method: "get") do %>

  <%=select_tag "difficulty", options_for_select(["Easy", "Difficult"]), include_blank: "Difficulty"%> 
  <%=select_tag "cost", options_for_select(["Low", "High"]), include_blank: "Cost"%> 
  <%=submit_tag "Filter"%>
<%end%>


<%@projects.each do |project|%>
  <div class="<%=project.id%>_project"
  <p><%=link_to project.name, user_project_path(project.user, project), :class => "full_project"%></p>
  
    <ul>
      <li>Type: <%=project.project_type%></li>
      <li>Cost: $<%=project.cost%></li>
      <li>Difficult: <%=project.difficulty%>/5</li>
    </ul>
  </div>
<%end%>


