<h1>Create Your New Project</h1>

<%=form_for [@user, @project] do |f|%> 
  <%if @project.errors.any?%>
    <h3>There were some errors:</h3>
    <ul>
      <%@project.errors.full_messages.each do |message|%>
        <li><%=message%></li>
      <%end%>
    </ul>
  <%end%>


  <%=f.hidden_field :user_id%> 

  <%=f.label "Project Name:"%>
  <%=f.text_field :name%> <br>
  <br>

  <%=f.label "What Type of project is this?"%>
  <%=f.text_field :project_type%> <br>
  <br>

  <%=f.label "How much does it cost? $"%>
  <%=f.number_field :cost%> <br>
  <br>

  <%=f.label "Rate difficulty from 1 - 5"%>
  <%=f.number_field :difficulty%> <br>
  <br>

  <%=f.label "Instructions"%>
  <%=f.text_area :instructions%>
  <br>

  <h2>Add Materials:</h2>



  <%=f.fields_for :materials do |m| %>
  <%=m.collection_select :id, Material.all, :id, :material_name, include_blank: "Select Material"%> 
    <h3>Select a Material</h3>
    <h3>Or Create a New Material</h3>
    <p>Type of Material:<%=m.text_field :material_name%></p>
    <p>Check if this is a tool:<%=m.check_box :tool%> </p>
    <h3>Enter Quantity and Size</h3>
    <%=m.fields_for :project_materials, @project.project_materials.build do |pm|%>
      <%=pm.label :quantity%>
      <%=pm.number_field :quantity%> 
      <%=pm.label :size%> 
      <%=pm.text_field :size%>
    <%end%>
    <p>___________________________________________________________</p>
  <%end%>
  


  <%=f.submit%> 

<%end%>



