<%=form_for(@project) do |f|%> 
  <%=f.hidden_field :user_id%> 

  <%=f.label :name%>
  <%=f.text_field :name%> <br>
  <br>

  <%=f.label :project_type%>
  <%=f.text_field :project_type%> <br>
  <br>

  <%=f.label "Cost in dollars"%>
  <%=f.number_field :cost%> <br>
  <br>

  <%=f.label "Rate difficulty from 1 - 5"%>
  <%=f.number_field :difficulty%> <br>
  <br>

  <%=f.fields_for :project_materials, @materials do |project_materials|%>
  <p>Quantity: <%=project_materials.number_field :quantity%></p>
  <p>Size: <%=project_materials.text_field :size%></p>

  <%=f.collection_check_boxes :material_ids, Material.all, :id, :name%>
  <br>
  <%=f.fields_for :materials, @project.materials.build do |materials_fields|%>
    <%=f.label "Type of material"%>
    <%=materials_fields.text_field :name%>
    <br>
    <%=f.label "Check if this material is a tool"%>
    <%=materials_fields.check_box :tool%>
<%end%>
<br>


  <%=f.submit%>



<%end%>


