<h1><%=@project.user.name%>'s <%=@project.name%> Project</h1>
<h3>Difficulty: <%=@project.difficulty%>/5</h3>
<h3>Cost: $<%=@project.cost%></h3>

<h3>Materials Required</h3>
<ul>
  <%@project.project_materials.each do |pm|%>
      <li>Material: <%=pm.material.material_name%> | Quantity: <%=pm.quantity%> | Size: <%=pm.size%></li>
    <%end%>
</ul>

<h3Instructions:</h3>
<p><%=@project.instructions%></p>

<%if @project.user_id == current_user.id%>
  <%=link_to "Delete this Project", @project, method: :delete, data: {confirm: "Are you sure you want to delete this project?"}%>
<%end%>