<h1><%=@project.user.name%>'s <%=@project.name%> Project</h1>


<ul>
  <%@project.project_materials.each do |pm|%>
      <li>Material: <%=pm.material.material_name%> | Quantity: <%=pm.quantity%> | Size: <%=pm.size%></li>
    <%end%>
</ul>

