<h1><%=@material.material_name%></h1>



<%= form_for [@material, @recommendation] do |f|%>
    <%= f.hidden_field :material_id%>
    <%= f.label "Product name:"%> <br>
    <%= f.text_field :name %> <br>
    <%= f.label "Cost:"%> <br>
    <%= f.number_field :cost %> <br>
    <%= f.label "Where to Buy:"%><br><br>
    <%= f.text_field :buy %> <br>
    <%= f.submit %>
<%end%>

<ol id="material_recommendations">

</ol>